@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-cursive {
    font-family: "Edu Tas Beginner", cursive;
  }
}

.home{
  background-color: #ffffff;
}

.menu-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 5em;
  left: 0;
  height: 90vh;
  width: 100vw;
  background-color: white;
  padding: 5px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  animation: slideUp 1s forwards;
  opacity: 0;
}

.menu-popup.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-20px);
  }
}

.menu-popup a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 2em auto 16px;
  text-align: center;
  padding: 12px 16px;
} 

 .nav-items {
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

.menu-popup a:hover {
  background-color: #f1f1f1;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  transition: opacity 0.5s;
}

.home1Image-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.home1Image-fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.home2Image-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.home2Image-fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.home-fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.home-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s, visibility 1.5s;
}
.home2-fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.home2-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s, visibility 1.5s;
}

.home3Image-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.home3Image-fade {
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.home3-fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}
.home3-visible{
  opacity: 1;
  visibility: visible;
  transition: opacity 3s, visibility 3s;
}

.home-welcome_head, .home-welcome2Head, .home-welcome3Head, .why-choose-us_head {
  vertical-align: inherit; 
  color: #AFA27B;
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 10.72px 0px;
  margin-left: 29px;
}

.home-welcome_content, .home-welcome2, .home-welcome3, .why-choose-us_para1, .why-choose-us_para2, .why-choose-us_para3, .why-choose-us_para4{
  color: #2D3246;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 0;
  margin: 22px 29px;
}

.home-welcome2Head, .home-welcome3Head{
  margin: 22px 0 0 29px;
}

.why-choose-us {
  font-family: var(--font-family);
  letter-spacing: 0.5px;
  font-size: 22px;
}

.home-container_image1 {
  margin-left: 12px;
  margin-right: 12px;
}

.home-container_image2 {
  margin-left: 12px;
  margin-right: 12px;
}

.why-img-visible{
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}

.why-img-fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.why-choose-us_fade{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 2s;
}

.why-choose-us_visible{
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s, visibility 1.5s;
}


@media (min-width: 1024px) and (max-width: 1920px) {
    .image1{
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 720px;
      max-height: 720px;
      margin: 60px 0 0 0;
    }

    .home-container_part1{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
    }
    .home-welcome{
      justify-content: center;
      align-items: center;
      display: flex;
      margin: 150px 38px 38px 24px;
      max-width: 650px;
    }
    .home-welcome_head{
      font-size: 45px;
    }
    .home-welcome_content{
      font-size: 32px;
    } 
    .image2{
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 720px;
      max-height: 720px;
    }

    .home-container_part2{
      margin: 220px 0 0 0 ;
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
    .home-welcome2_outside{
      margin: 150px 38px 38px 24px;
      max-width: 650px;
    }
    .home-welcome2Head{
      font-size: 45px;
    }
    .home-welcome2{
      font-size: 32px;
    }

    .home-container_part3{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 220px 0 220px 0;
    }

    .image3{
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 720px;
      max-height: 720px;
    }
 
    .home-discover{
      margin: 150px 38px 38px 24px;
      max-width: 650px;
    }

    .home-welcome3Head{
      font-size: 45px;
    }

    .home-welcome3{
      font-size: 32px;
    }
    .why-choose-us{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 120px 20px 20px 20px;
    }
    .why-choose-us-text{
      max-width: 750px;
    }
    .image4{
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 720px;
      max-height: 720px;
    }
    .why-choose-us_head{
      font-size: 42px;
    }
    .why-choose-us_para1, .why-choose-us_para2, .why-choose-us_para3, .why-choose-us_para4 {
      font-size: 18px;
    }
    .beauty-tips-blog{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 820px;
    }

}